<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Center type #<%= @center_type.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/center_types" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/center_types/<%= @center_type.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit center type
        </a>
      </div>

      <div class="col">
        <a href="/delete_center_type/<%= @center_type.id %>" class="btn btn-block btn-outline-secondary">
          Delete center type
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @center_type.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@center_type.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@center_type.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "center_type_templates/center_type_testing_centers" %>
  </div>
</div>
