<form action="/create_lab_entry_from_lab" method="post">

  <input type="hidden" name="lab_id" value="<%= @lab.id %>">

  <div class="form-group">
    <label for="number_tests_arrived_24_hour">
      Number tests arrived 24 hour
    </label>

    <input type="text" id="number_tests_arrived_24_hour" name="number_tests_arrived_24_hour" class="form-control" value="<%= @lab_entry.number_tests_arrived_24_hour %>">
  </div>

  <div class="form-group">
    <label for="number_tested_24_hour">
      Number tested 24 hour
    </label>

    <input type="text" id="number_tested_24_hour" name="number_tested_24_hour" class="form-control" value="<%= @lab_entry.number_tested_24_hour %>">
  </div>

  <div class="form-group">
    <label for="positive_rate_24_hour">
      Positive rate 24 hour
    </label>

    <input type="text" id="positive_rate_24_hour" name="positive_rate_24_hour" class="form-control" value="<%= @lab_entry.positive_rate_24_hour %>">
  </div>

  <div class="form-group">
    <label for="percent_capacity_achieved_24_hour">
      Percent capacity achieved 24 hour
    </label>

    <input type="text" id="percent_capacity_achieved_24_hour" name="percent_capacity_achieved_24_hour" class="form-control" value="<%= @lab_entry.percent_capacity_achieved_24_hour %>">
  </div>

  <div class="form-group">
    <label for="average_hours_needed_to_process_tests_24_hour">
      Average hours needed to process tests 24 hour
    </label>

    <input type="text" id="average_hours_needed_to_process_tests_24_hour" name="average_hours_needed_to_process_tests_24_hour" class="form-control" value="<%= @lab_entry.average_hours_needed_to_process_tests_24_hour %>">
  </div>

  <div class="form-group">
    <label for="percent_of_tests_in_last_7_days_which_took_longer_than_24_hours">
      Percent of tests in last 7 days which took longer than 24 hours
    </label>

    <input type="text" id="percent_of_tests_in_last_7_days_which_took_longer_than_24_hours" name="percent_of_tests_in_last_7_days_which_took_longer_than_24_hours" class="form-control" value="<%= @lab_entry.percent_of_tests_in_last_7_days_which_took_longer_than_24_hours %>">
  </div>

  <div class="form-group">
    <label for="total_number_tests_at_lab_which_require_processing">
      Total number tests at lab which require processing
    </label>

    <input type="text" id="total_number_tests_at_lab_which_require_processing" name="total_number_tests_at_lab_which_require_processing" class="form-control" value="<%= @lab_entry.total_number_tests_at_lab_which_require_processing %>">
  </div>

  <div class="form-group">
    <label for="for_24h_period_ending_at">
      For 24h period ending at
    </label>

    <input type="text" id="for_24h_period_ending_at" name="for_24h_period_ending_at" class="form-control" value="<%= @lab_entry.for_24h_period_ending_at %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create lab entry
  </button>
</form>
