<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Lab #<%= @lab.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/labs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/labs/<%= @lab.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit lab
        </a>
      </div>

      <div class="col">
        <a href="/delete_lab/<%= @lab.id %>" class="btn btn-block btn-outline-secondary">
          Delete lab
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Location name
      </dt>
      <dd>
        <%= @lab.location_name %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @lab.location %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@lab.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@lab.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "lab_templates/lab_lab_entries" %>
  </div>
</div>
