<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All warehouses
    </h1>

    <a href="/warehouses/new" class="btn btn-block btn-outline-secondary">
      Add a new warehouse
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "warehouse_templates/warehouses_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Location name
        </th>

        <th>
          Location
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @warehouses.each do |warehouse| %>
      <tr>
        <td>
          <%= warehouse.id %>
        </td>

        <td>
          <%= warehouse.location_name %>
        </td>

        <td>
          <%= warehouse.location %>
        </td>

        <td>
          <%= time_ago_in_words(warehouse.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(warehouse.updated_at) %> ago
        </td>

        <td>
          <a href="/warehouses/<%= warehouse.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @warehouses, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
