<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Warehouse #<%= @warehouse.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/warehouses" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/warehouses/<%= @warehouse.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit warehouse
        </a>
      </div>

      <div class="col">
        <a href="/delete_warehouse/<%= @warehouse.id %>" class="btn btn-block btn-outline-secondary">
          Delete warehouse
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Location name
      </dt>
      <dd>
        <%= @warehouse.location_name %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @warehouse.location %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@warehouse.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@warehouse.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "warehouse_templates/warehouse_warehouse_entries" %>
  </div>
</div>
