<h1>
  Edit testing center #<%= @testing_center.id %>
</h1>

<hr>

<!-- Form testing_center start -->
<form action="/update_testing_center/<%= @testing_center.id %>" method="post">
<!-- Form testing_center end -->

  <!-- Label and input for center_type_id start -->
  <div class="form-group">
    <label for="center_type_id">
      Center type
    </label>

    <!-- Input for center_type_id start -->
    <%= select_tag(:center_type_id, options_from_collection_for_select(CenterType.all, :id, :name, @testing_center.center_type_id), :class => "form-control") %>
    <!-- Input for center_type_id end -->
  </div>
  <!-- Label and input for center_type_id end -->

  <!-- Label and input for location_name start -->
  <div class="form-group">
    <label for="location_name">
      Location name
    </label>

    <!-- Input for location_name start -->
    <input type="text" id="location_name" name="location_name" class="form-control" value="<%= @testing_center.location_name %>">
    <!-- Input for location_name end -->
  </div>
  <!-- Label and input for location_name end -->

  <!-- Label and input for location start -->
  <div class="form-group">
    <label for="location">
      Location
    </label>

    <!-- Input for location start -->
    <input type="text" id="location" name="location" class="form-control" value="<%= @testing_center.location %>">
    <!-- Input for location end -->
  </div>
  <!-- Label and input for location end -->

  <button class="btn btn-block btn-outline-secondary">
    Update testing center
  </button>
</form>

<hr>

<a href="/testing_centers">
  Go back
</a>
