<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All testing centers
    </h1>

    <a href="/testing_centers/new" class="btn btn-block btn-outline-secondary">
      Add a new testing center
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "testing_center_templates/testing_centers_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Center type
        </th>

        <th>
          Location name
        </th>

        <th>
          Location
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @testing_centers.each do |testing_center| %>
      <tr>
        <td>
          <%= testing_center.id %>
        </td>

        <td>
          <% if testing_center.center_type.present? %>
            <a href="/center_types/<%= testing_center.center_type.id %>">
              <%= testing_center.center_type.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= testing_center.location_name %>
        </td>

        <td>
          <%= testing_center.location %>
        </td>

        <td>
          <%= time_ago_in_words(testing_center.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(testing_center.updated_at) %> ago
        </td>

        <td>
          <a href="/testing_centers/<%= testing_center.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @testing_centers, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
