<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All lab entries
    </h1>

    <a href="/lab_entries/new" class="btn btn-block btn-outline-secondary">
      Add a new lab entry
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "lab_entry_templates/lab_entries_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Lab
        </th>

        <th>
          Number tests arrived 24 hour
        </th>

        <th>
          Number tested 24 hour
        </th>

        <th>
          Positive rate 24 hour
        </th>

        <th>
          Percent capacity achieved 24 hour
        </th>

        <th>
          Average hours needed to process tests 24 hour
        </th>

        <th>
          Percent of tests in last 7 days which took longer than 24 hours
        </th>

        <th>
          Total number tests at lab which require processing
        </th>

        <th>
          For 24h period ending at
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @lab_entries.each do |lab_entry| %>
      <tr>
        <td>
          <%= lab_entry.id %>
        </td>

        <td>
          <% if lab_entry.lab.present? %>
            <a href="/labs/<%= lab_entry.lab.id %>">
              <%= lab_entry.lab.location_name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= lab_entry.number_tests_arrived_24_hour %>
        </td>

        <td>
          <%= lab_entry.number_tested_24_hour %>
        </td>

        <td>
          <%= lab_entry.positive_rate_24_hour %>
        </td>

        <td>
          <%= lab_entry.percent_capacity_achieved_24_hour %>
        </td>

        <td>
          <%= lab_entry.average_hours_needed_to_process_tests_24_hour %>
        </td>

        <td>
          <%= lab_entry.percent_of_tests_in_last_7_days_which_took_longer_than_24_hours %>
        </td>

        <td>
          <%= lab_entry.total_number_tests_at_lab_which_require_processing %>
        </td>

        <td>
          <%= lab_entry.for_24h_period_ending_at %>
        </td>

        <td>
          <%= time_ago_in_words(lab_entry.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(lab_entry.updated_at) %> ago
        </td>

        <td>
          <a href="/lab_entries/<%= lab_entry.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @lab_entries, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
