<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All testing center entries
    </h1>

    <a href="/testing_center_entries/new" class="btn btn-block btn-outline-secondary">
      Add a new testing center entry
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "testing_center_entry_templates/testing_center_entries_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Testing center
        </th>

        <th>
          Number test administered
        </th>

        <th>
          Number of people untested from insufficient supply
        </th>

        <th>
          Number of people untested from other reasons
        </th>

        <th>
          Percent capacity
        </th>

        <th>
          Percent positive 24 hour
        </th>

        <th>
          Percent positive 72 hour
        </th>

        <th>
          Current inv anterior nasal swabs
        </th>

        <th>
          Current inv nasophayngeal swabs
        </th>

        <th>
          Current inv transport media
        </th>

        <th>
          For 24h period ending at
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @testing_center_entries.each do |testing_center_entry| %>
      <tr>
        <td>
          <%= testing_center_entry.id %>
        </td>

        <td>
          <% if testing_center_entry.testing_center.present? %>
            <a href="/testing_centers/<%= testing_center_entry.testing_center.id %>">
              <%= testing_center_entry.testing_center.center_type_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= testing_center_entry.number_test_administered %>
        </td>

        <td>
          <%= testing_center_entry.number_of_people_untested_from_insufficient_supply %>
        </td>

        <td>
          <%= testing_center_entry.number_of_people_untested_from_other_reasons %>
        </td>

        <td>
          <%= testing_center_entry.percent_capacity %>
        </td>

        <td>
          <%= testing_center_entry.percent_positive_24_hour %>
        </td>

        <td>
          <%= testing_center_entry.percent_positive_72_hour %>
        </td>

        <td>
          <%= testing_center_entry.current_inv_anterior_nasal_swabs %>
        </td>

        <td>
          <%= testing_center_entry.current_inv_nasophayngeal_swabs %>
        </td>

        <td>
          <%= testing_center_entry.current_inv_transport_media %>
        </td>

        <td>
          <%= testing_center_entry.for_24h_period_ending_at %>
        </td>

        <td>
          <%= time_ago_in_words(testing_center_entry.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(testing_center_entry.updated_at) %> ago
        </td>

        <td>
          <a href="/testing_center_entries/<%= testing_center_entry.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @testing_center_entries, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
