<% if @warehouse_entry.errors.any? %>
  <% @warehouse_entry.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit warehouse entry #<%= @warehouse_entry.id %>
</h1>

<hr>

<form action="/update_warehouse_entry/<%= @warehouse_entry.id %>" method="post">

  <div class="form-group">
    <label for="number_anterior_swabs_received_24_hour">
      Number anterior swabs received 24 hour
    </label>

    <input type="text" id="number_anterior_swabs_received_24_hour" name="number_anterior_swabs_received_24_hour" class="form-control" value="<%= @warehouse_entry.number_anterior_swabs_received_24_hour %>">
  </div>

  <div class="form-group">
    <label for="number_anterior_swabs_sent_24_hour">
      Number anterior swabs sent 24 hour
    </label>

    <input type="text" id="number_anterior_swabs_sent_24_hour" name="number_anterior_swabs_sent_24_hour" class="form-control" value="<%= @warehouse_entry.number_anterior_swabs_sent_24_hour %>">
  </div>

  <div class="form-group">
    <label for="number_outstanding_orders_anterior_swabs">
      Number outstanding orders anterior swabs
    </label>

    <input type="text" id="number_outstanding_orders_anterior_swabs" name="number_outstanding_orders_anterior_swabs" class="form-control" value="<%= @warehouse_entry.number_outstanding_orders_anterior_swabs %>">
  </div>

  <div class="form-group">
    <label for="current_inv_anterior_swabs">
      Current inv anterior swabs
    </label>

    <input type="text" id="current_inv_anterior_swabs" name="current_inv_anterior_swabs" class="form-control" value="<%= @warehouse_entry.current_inv_anterior_swabs %>">
  </div>

  <div class="form-group">
    <label for="number_nasopharyngeal_swabs_received_24_hour">
      Number nasopharyngeal swabs received 24 hour
    </label>

    <input type="text" id="number_nasopharyngeal_swabs_received_24_hour" name="number_nasopharyngeal_swabs_received_24_hour" class="form-control" value="<%= @warehouse_entry.number_nasopharyngeal_swabs_received_24_hour %>">
  </div>

  <div class="form-group">
    <label for="number_nasopharyngeal_swabs_sent_24_hour">
      Number nasopharyngeal swabs sent 24 hour
    </label>

    <input type="text" id="number_nasopharyngeal_swabs_sent_24_hour" name="number_nasopharyngeal_swabs_sent_24_hour" class="form-control" value="<%= @warehouse_entry.number_nasopharyngeal_swabs_sent_24_hour %>">
  </div>

  <div class="form-group">
    <label for="number_outstanding_orders_nasopharyngeal_swabs">
      Number outstanding orders nasopharyngeal swabs
    </label>

    <input type="text" id="number_outstanding_orders_nasopharyngeal_swabs" name="number_outstanding_orders_nasopharyngeal_swabs" class="form-control" value="<%= @warehouse_entry.number_outstanding_orders_nasopharyngeal_swabs %>">
  </div>

  <div class="form-group">
    <label for="current_inv_nasopharyngeal_swabs">
      Current inv nasopharyngeal swabs
    </label>

    <input type="text" id="current_inv_nasopharyngeal_swabs" name="current_inv_nasopharyngeal_swabs" class="form-control" value="<%= @warehouse_entry.current_inv_nasopharyngeal_swabs %>">
  </div>

  <div class="form-group">
    <label for="number_transport_media_received_24_hour">
      Number transport media received 24 hour
    </label>

    <input type="text" id="number_transport_media_received_24_hour" name="number_transport_media_received_24_hour" class="form-control" value="<%= @warehouse_entry.number_transport_media_received_24_hour %>">
  </div>

  <div class="form-group">
    <label for="number_transport_media_sent_24_hour">
      Number transport media sent 24 hour
    </label>

    <input type="text" id="number_transport_media_sent_24_hour" name="number_transport_media_sent_24_hour" class="form-control" value="<%= @warehouse_entry.number_transport_media_sent_24_hour %>">
  </div>

  <div class="form-group">
    <label for="number_outstanding_orders_transport_media">
      Number outstanding orders transport media
    </label>

    <input type="text" id="number_outstanding_orders_transport_media" name="number_outstanding_orders_transport_media" class="form-control" value="<%= @warehouse_entry.number_outstanding_orders_transport_media %>">
  </div>

  <div class="form-group">
    <label for="current_inv_transport_media">
      Current inv transport media
    </label>

    <input type="text" id="current_inv_transport_media" name="current_inv_transport_media" class="form-control" value="<%= @warehouse_entry.current_inv_transport_media %>">
  </div>

  <div class="form-group">
    <label for="warehouse_id">
      Warehouse
    </label>

    <%= select_tag(:warehouse_id, options_from_collection_for_select(Warehouse.all, :id, :location_name, @warehouse_entry.warehouse_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="for_24h_period_ending_at">
      For 24h period ending at
    </label>

    <input type="text" id="for_24h_period_ending_at" name="for_24h_period_ending_at" class="form-control" value="<%= @warehouse_entry.for_24h_period_ending_at %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update warehouse entry
  </button>
</form>

<hr>

<a href="/warehouse_entries">
  Go back
</a>
